.card {
  display: grid;
  justify-content: center;
  align-content: end;
}
.graphicDesign {
  background: url("../../public/images/mobile/image-graphic-design.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media (min-width: 50rem) {
  .graphicDesign {
    background: url("../../public/images/desktop/image-graphic-design.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
  }
}

.content {
  max-width: 24rem;
  display: grid;
  gap: 1rem;
  text-align: center;
  padding: 1rem 2rem;
}
@media (min-width: 50rem) {
  .content {
    gap: 3rem;
  }
}
